<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <!--
  <akka>
    <hocon>
      <![CDATA[
        akka {
          stdout-loglevel = INFO
          loglevel = INFO
          log-config-on-start = on
          loggers = ["Akka.Logger.NLog.NLogLogger, Akka.Logger.NLog"]
          actor.debug.unhandled = on
          actor.debug.receive = on
        }
      ]]>
    </hocon>
  </akka>
  -->
</configuration>